/* reset declaration オリジナルセッティングのこと */
*{
  box-sizing: border-box;
}


/* header */
.header{
  background-color: tomato;
  width: 80%;
  margin: 20px;
  padding: 20px;
  /* overflow: auto; */
  /* overflow: scroll; */
  overflow: hidden;
  box-shadow: 3px 3px 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  
}

.header p{
  background-color: teal;
  width: 500px;
  margin-left: 10px;
  margin-bottom: 30px;
  padding: 15px 10px;
  margin-left: auto;
  margin-right: auto;
}
.header a{
  background-color: aqua;
  width: 500px; 
  margin-left: 30px;
  padding: 10px 15px 20px 25px;
}
.nav{
  background-color: yellowgreen;
  margin: 40px 10%;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 25px;
  padding-left: 40px;
  margin-bottom: -60px; 
  
}
.nav img{
  /* background-color: magenta; */
  padding: 10px;
  border-radius: 50px;
  /* widows: 100px;
  height: 100px; */
  box-shadow: 3px 3px 5px;
  margin: auto;
}
.section{
  background-color: gray;
  height: 300px;
  width: 50%;
  margin: 50px 5% 30px 20%;
  overflow: auto;
  overflow: hidden;
  overflow: scroll;
  margin-right: auto;
  margin-left: auto;
}
.solid{
border: 10px solid tomato;
border-top: none;
}
.dotted{
  border: 10px dotted teal;
  border-width: 5px 15px 3px 2px;
}
.dashed{
  border: 10px dashed crimson;
  border-style: solid double dotted crimson;
}
.double{
  border: 10px double seagreen;
  padding: 10px;
  padding-left: 40px;
}
.groove{
  border: 10px groove purple;
}
.inset{
  border: 10px inset darkgreen;
}
.outset{
  border: 10px goldenrod;
}
.radius{
  border: 10px solid black;
  border-radius: 50px;
}
.circle{
  border: 5px solid red;
  width: 100px;
  height: 100px;
  padding: 20px;
  border-radius: 100px;
}

.footer{
  background-color: tomato;
  padding: 20px;
  margin-top: 200px;
  /* border: red; */
  
}
.box-1{
  width: 100px;
  height: 100px;
  border: solid red;
  padding-left: 10px;
  padding-top: 10px;
  box-sizing: content-box;
  margin:auto;
}
.box-2{
  width: 110px;
  height: 100px;
  border: solid blue;
  box-sizing: content-box;
  margin: 30px auto 0 auto;
  /* padding: 10px; */
}