@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Palette+Mosaic&display=swap');
/* 
      font-family: 'Hurricane', cursive;
      font-family: 'Palette Mosaic', cursive;
*/
/* ul */
ul{
  list-style: upper-roman;
  /* background-color: tomato; */
  list-style-position: inside;
}
ul li{
  background-color: aqua;
}
/* h */
h1{
  background-color: #000;
  background-color: rgba(0,0,0,0.5) ;
  color: rgba(255,255,255,0.5);
  opacity: 0.8;
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  /* text-shadow:x y z color */
  text-shadow: 5px -5px 3px red;
  /* letter-spacing: -10px; */
  letter-spacing: 10px;
}
h2{
  font-family: serif;
  text-transform: uppercase;
  text-decoration: overline;
  text-align: right;
}
h3{
  font-family: monospace;
  text-transform: lowercase;
  text-decoration: line-through;
}
/* chapter */
.chapter{
  font-family: 'Palette Mosaic', cursive;
}
.chapter-1{
  text-align: center;
}
.chapter-1 .chapter{
  text-align: left;
}
.chapter-1 p a{
  font-weight: 900;
  text-decoration: none;
}
.chapter-1 p{
  font-family: 'Hurricane', cursive;
  font-weight: 700;
  font-style: oblique;
  word-spacing: 30px;
  
}
.chapter-2{
  font-size: 30px;
}
.chapter-2 p{
  font-family: sans-serif;
  font-size: 16px;
  text-indent: 2em;
}
.chapter-3{
  font-size: 20px;
}
.chapter-3 p{
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}
.chapter-3 p span{
  /* font-weight: bolder; */
  font-weight: lighter;
  font-style: normal;
  text-decoration: line-through;
}
/* ol */
ol{
  background-color: tomato;
  list-style: circle inside;

}
ol li{
  background-color: aqua;
}